<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrology page</title>
    <style>
        body{
            background-color: green;
            color: white;
        }
        
    </style>
</head>
<body>
    <h1>Hello friends very very :{{ day }}</h1>

    <h2>Now server time is:{{ date }}</h2>

    <h1>Astrology Info For Achyuth:{{ msg }}</h1>
    <h2>very soon you are going to get marriage with:{{ names }}</h2>
</body>
</html>